#errorFound.modal.modal-lg.fade(data-bs-keyboard='false' tabindex='-1' aria-labelledby='confirmaActivation' aria-hidden='true')
    div.modal-dialog
        div.modal-content
            div.modal-header
                h4.modal-title Ошибка в задаче №13423? 
            div.modal-body
                div.form-group 
                    label.label Опишите проблему
                    textarea.form-control(rows="4")
                div.form-group
                    label.label Скрин, картинк или файл (опционально)
                    input.form-control(type='file')

            div.modal-footer.justify-content-between
                button.btn.btn-secondary 
                    span Вернуться назад              
                button.btn.btn-primary 
                    span Отправить   
