#img-popup.modal.modal-img.fade(data-bs-keyboard='false' tabindex='-1' aria-labelledby='confirmaActivation' aria-hidden='true')
    div.modal-dialog
        div.modal-content
            div.modal-header.border-0
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            div.modal-body   
                figure
                    img(src="_Common/BaseMvcLogic/Images/img-test.jpg", alt="")