#life-info.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='confirmaActivation' aria-hidden='true')
    div.modal-dialog
        div.modal-content
            div.modal-header
                h4.modal-title Что такое жизни?
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            div.modal-body
                p Тут описание, что это и зачем нужно...