header.lk-header
    div.container
        nav(style="--bs-breadcrumb-divider: '>';" aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='lk--dashboard.html') Учительская
                li.breadcrumb-item.active(aria-current='page') Настройки аккаунта

