footer.lk-footer
    div.container  
        div.row.justify-content-sm-between 
            div.col-12.col-sm-auto.mb-3.mb-md-0 © ClevMate, 2022
            div.col-12.col-sm-auto
                div.row 
                    div.col-12.col-sm-auto 
                        a(href="https://clevmate.com/Docs/Terms").link Пользовательское соглашение
                    div.col-12.col-sm-auto
                        a(href="https://clevmate.com/Docs/Privacy").link Политика конфиденциальности




