div.toast-container.position-fixed.top-0.end-0.p-3
    div#liveToast.toast(role='alert' aria-live='assertive' aria-atomic='true')
        div.toast-header
            span.badge.rounded.px-2.bg-success.me-2 &nbsp;
            strong.me-auto Имя успешно изменено
            button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
        //- div.toast-body
        //-     | Вы изменили имя

