#test-tasks.modal.fade(data-bs-keyboard='false' tabindex='-1' aria-hidden='true')
    div.modal-dialog.modal-fullscreen
        div.modal-content
            div.container
                div.modal-header.border-0.px-0.px-lg-5
                    div
                        small.text-muted Контрольная
                        h3.modal-title Название контрольной
                        div.mt-2 
                            div.d-flex.align-items-center
                                img(src='_Common/BaseMvcLogic/Images/icons/clock.svg' alt='').me-2
                                b 59:45                       
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                div.px-lg-5
                    hr.my-2
                div.modal-body.px-0.px-lg-5.pb-lg-5 

                    div.row.border-after 
                        div.col-12
                            div.d-flex.flex-wrap.mb-2
                                span.t-tag.me-2 Задача #345

                            <p>Найдите решение уравнения</p><p><span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax_SVG" id="MathJax-Element-1-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><msub><mi>log</mi><mn>2</mn></msub><mfenced><mrow><mi>x</mi><mo>+</mo><mn>2</mn></mrow></mfenced><mo>=</mo><mn>4</mn></math>" role="presentation" style="font-size: 100%; display: inline-block; position: relative;"><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="14.784ex" height="2.634ex" viewBox="0 -809.3 6365.1 1134.2" role="img" focusable="false" aria-hidden="true" style="vertical-align: -0.755ex;"><g stroke="currentColor" fill="currentColor" stroke-width="0" transform="matrix(1 0 0 -1 0 0)"><use xlink:href="#MJMAIN-6C"></use><use xlink:href="#MJMAIN-6F" x="278" y="0"></use><use xlink:href="#MJMAIN-67" x="779" y="0"></use><use transform="scale(0.707)" xlink:href="#MJMAIN-32" x="1809" y="-343"></use><g transform="translate(1733,0)"><use xlink:href="#MJMAIN-28" x="0" y="0"></use><g transform="translate(389,0)"><use xlink:href="#MJMATHI-78" x="0" y="0"></use><use xlink:href="#MJMAIN-2B" x="794" y="0"></use><use xlink:href="#MJMAIN-32" x="1795" y="0"></use></g><use xlink:href="#MJMAIN-29" x="2685" y="0"></use></g><use xlink:href="#MJMAIN-3D" x="4808" y="0"></use><use xlink:href="#MJMAIN-34" x="5864" y="0"></use></g></svg><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>log</mi><mn>2</mn></msub><mfenced><mrow><mi>x</mi><mo>+</mo><mn>2</mn></mrow></mfenced><mo>=</mo><mn>4</mn></math></span></span><script type="math/mml" id="MathJax-Element-1"><math xmlns="http://www.w3.org/1998/Math/MathML"><msub><mi>log</mi><mn>2</mn></msub><mfenced><mrow><mi>x</mi><mo>+</mo><mn>2</mn></mrow></mfenced><mo>=</mo><mn>4</mn></math></script><br></p> 
                            
                            div.bg-light.px-2.pt-3.pb-3.mt-3.mb-2
                                div.row.gx-3
                                    div.col-12.col-lg-6
                                        div.form-group.mb-0 
                                            label.label Ответ
                                            input.form-control.valid(name='Answer' type='text')

                            // блок с решением
                            div.mt-3.mb-2.d-flex
                                a.link(data-bs-toggle="collapse" href="#taskAnswerDemo" aria-expanded="false" aria-controls="taskAnswerDemo") 
                                    span Посмотреть решение
                            div.collapse#taskAnswerDemo 
                                div.card.p-2.p-lg-3
                                    h5 Решние
                                    p  Тут можно дать pешние              

                    div.row.border-after 
                        div.col-12
                            div.d-flex.mb-2
                                span.t-tag.me-2 Задача #345
                            p Найдите решение уравнения
                            p
                                a.img-popup(href='_Common/BaseMvcLogic/Images/img-test.svg')
                                    img(src='_Common/BaseMvcLogic/Images/img-test.svg' alt='') 
                            p Установите соответствие между величинами и их возможными значениями: к каждому элементу первого столбца подберите соответствующий элемент из второго столбца.

                            p Запишите в ответ цифры, расположив их в порядке, соответствующем буквам, без пробелов, запятых и других дополнительных символов
            
                            div.bg-light.px-2.py-3.mt-3.mb-2
                                p.small.text-muted Это задача стребует подробного ответа. Загрузи совой ответ в виде файла в формате pdf, jpg или png, не более 4 MB. Ты можешь загрузить сразу несколько файлов.
                                div.row.gx-3
                                    div.col-12.col-lg-5
                                        .form-group.mb-2
                                            input.form-control(type='file' accept='image/*, application/pdf')
                                    div.col-5.col-lg-auto
                                        button.btn.btn-secondary#liveToastBtn(type='button').w-100
                                            span Загрузить решение

                                div.cb-message-table.mt-1
                                    p  1. 
                                        a(href="#") Пример оформлния.jpg
                                    p  2. 
                                        a(href="#") Пример оформлния.jpg
                                        
                            
                            // блок с решением
                            div.mt-3.mb-2.d-flex
                                a.link(data-bs-toggle="collapse" href="#taskAnswerDemo" aria-expanded="false" aria-controls="taskAnswerDemo") 
                                    span Посмотреть решение 

                            div.collapse#taskAnswerDemo 
                                div.card.p-2.p-lg-3
                                    h5 Решние
                                    p  Тут можно дать pешние       
                    div.row 
                        div.col-12
                            div.d-flex.mb-2
                                span.t-tag.me-2 Задача #345
                            <p>Найдите <span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax_SVG" id="MathJax-Element-19-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mfrac><mrow><mi>g</mi><mfenced><mrow><mn>3</mn><mo>-</mo><mi>x</mi></mrow></mfenced></mrow><mrow><mi>g</mi><mfenced><mrow><mn>3</mn><mo>+</mo><mi>x</mi></mrow></mfenced></mrow></mfrac></math>" role="presentation" style="font-size: 100%; display: inline-block; position: relative;"><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="5.945ex" height="4.384ex" viewBox="0 -1186 2559.8 1887.7" role="img" focusable="false" aria-hidden="true" style="vertical-align: -1.63ex;"><g stroke="currentColor" fill="currentColor" stroke-width="0" transform="matrix(1 0 0 -1 0 0)"><g transform="translate(120,0)"><rect stroke="none" width="2319" height="60" x="0" y="220"></rect><g transform="translate(60,588)"><use transform="scale(0.707)" xlink:href="#MJMATHI-67" x="0" y="0"></use><g transform="translate(339,0)"><use transform="scale(0.707)" xlink:href="#MJMAIN-28" x="0" y="0"></use><g transform="translate(275,0)"><use transform="scale(0.707)" xlink:href="#MJMAIN-33" x="0" y="0"></use><use transform="scale(0.707)" xlink:href="#MJMAIN-2212" x="500" y="0"></use><use transform="scale(0.707)" xlink:href="#MJMATHI-78" x="1279" y="0"></use></g><use transform="scale(0.707)" xlink:href="#MJMAIN-29" x="2241" y="0"></use></g></g><g transform="translate(60,-442)"><use transform="scale(0.707)" xlink:href="#MJMATHI-67" x="0" y="0"></use><g transform="translate(339,0)"><use transform="scale(0.707)" xlink:href="#MJMAIN-28" x="0" y="0"></use><g transform="translate(275,0)"><use transform="scale(0.707)" xlink:href="#MJMAIN-33" x="0" y="0"></use><use transform="scale(0.707)" xlink:href="#MJMAIN-2B" x="500" y="0"></use><use transform="scale(0.707)" xlink:href="#MJMATHI-78" x="1279" y="0"></use></g><use transform="scale(0.707)" xlink:href="#MJMAIN-29" x="2241" y="0"></use></g></g></g></g></svg><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mfrac><mrow><mi>g</mi><mfenced><mrow><mn>3</mn><mo>-</mo><mi>x</mi></mrow></mfenced></mrow><mrow><mi>g</mi><mfenced><mrow><mn>3</mn><mo>+</mo><mi>x</mi></mrow></mfenced></mrow></mfrac></math></span></span><script type="math/mml" id="MathJax-Element-19"><math xmlns="http://www.w3.org/1998/Math/MathML"><mfrac><mrow><mi>g</mi><mfenced><mrow><mn>3</mn><mo>-</mo><mi>x</mi></mrow></mfenced></mrow><mrow><mi>g</mi><mfenced><mrow><mn>3</mn><mo>+</mo><mi>x</mi></mrow></mfenced></mrow></mfrac></math></script>, если <span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax_SVG" id="MathJax-Element-20-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mi>g</mi><mfenced><mi>x</mi></mfenced><mo>=</mo><mroot><mrow><mi>x</mi><mfenced><mrow><mn>6</mn><mo>-</mo><mi>x</mi></mrow></mfenced></mrow><mn>11</mn></mroot></math>" role="presentation" style="font-size: 100%; display: inline-block; position: relative;"><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="17.504ex" height="3.384ex" viewBox="0 -1024.6 7536.2 1457.1" role="img" focusable="false" aria-hidden="true" style="vertical-align: -1.005ex;"><g stroke="currentColor" fill="currentColor" stroke-width="0" transform="matrix(1 0 0 -1 0 0)"><use xlink:href="#MJMATHI-67" x="0" y="0"></use><g transform="translate(480,0)"><use xlink:href="#MJMAIN-28" x="0" y="0"></use><use xlink:href="#MJMATHI-78" x="389" y="0"></use><use xlink:href="#MJMAIN-29" x="962" y="0"></use></g><use xlink:href="#MJMAIN-3D" x="1832" y="0"></use><g transform="translate(2888,0)"><g transform="translate(186,404)"><use transform="scale(0.5)" xlink:href="#MJMAIN-31"></use><use transform="scale(0.5)" xlink:href="#MJMAIN-31" x="500" y="0"></use></g><use xlink:href="#MJSZ1-221A" x="0" y="19"></use><rect stroke="none" width="3647" height="60" x="1000" y="810"></rect><g transform="translate(1000,0)"><use xlink:href="#MJMATHI-78" x="0" y="0"></use><g transform="translate(572,0)"><use xlink:href="#MJMAIN-28" x="0" y="0"></use><g transform="translate(389,0)"><use xlink:href="#MJMAIN-36" x="0" y="0"></use><use xlink:href="#MJMAIN-2212" x="722" y="0"></use><use xlink:href="#MJMATHI-78" x="1723" y="0"></use></g><use xlink:href="#MJMAIN-29" x="2685" y="0"></use></g></g></g></g></svg><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>g</mi><mfenced><mi>x</mi></mfenced><mo>=</mo><mroot><mrow><mi>x</mi><mfenced><mrow><mn>6</mn><mo>-</mo><mi>x</mi></mrow></mfenced></mrow><mn>11</mn></mroot></math></span></span><script type="math/mml" id="MathJax-Element-20"><math xmlns="http://www.w3.org/1998/Math/MathML"><mi>g</mi><mfenced><mi>x</mi></mfenced><mo>=</mo><mroot><mrow><mi>x</mi><mfenced><mrow><mn>6</mn><mo>-</mo><mi>x</mi></mrow></mfenced></mrow><mn>11</mn></mroot></math></script>, при <span class="MathJax_Preview" style="color: inherit;"></span><span class="MathJax_SVG" id="MathJax-Element-21-Frame" tabindex="0" data-mathml="<math xmlns=&quot;http://www.w3.org/1998/Math/MathML&quot;><mfenced open=&quot;|&quot; close=&quot;|&quot;><mi>x</mi></mfenced></math>" role="presentation" style="font-size: 100%; display: inline-block; position: relative;"><svg xmlns:xlink="http://www.w3.org/1999/xlink" width="2.623ex" height="2.634ex" viewBox="0 -809.3 1129.5 1134.2" role="img" focusable="false" aria-hidden="true" style="vertical-align: -0.755ex;"><g stroke="currentColor" fill="currentColor" stroke-width="0" transform="matrix(1 0 0 -1 0 0)"><use xlink:href="#MJMAIN-7C" x="0" y="0"></use><use xlink:href="#MJMATHI-78" x="278" y="0"></use><use xlink:href="#MJMAIN-7C" x="851" y="0"></use></g></svg><span class="MJX_Assistive_MathML" role="presentation"><math xmlns="http://www.w3.org/1998/Math/MathML"><mfenced open="|" close="|"><mi>x</mi></mfenced></math></span></span><script type="math/mml" id="MathJax-Element-21"><math xmlns="http://www.w3.org/1998/Math/MathML"><mfenced open="|" close="|"><mi>x</mi></mfenced></math></script><mo>≠</mo><mn>3</mn></p>
 
                            div.bg-light.px-2.pt-3.pb-3.mt-3.mb-2
                                div.row.gx-3
                                    div.col-12.col-lg-6
                                        div.form-group.mb-0 
                                            label.label Ответ
                                            input.form-control.valid(name='Answer' type='text')

                            // блок с решением
                            div.mt-3.mb-2.d-flex
                                a.link(data-bs-toggle="collapse" href="#taskAnswerDemo" aria-expanded="false" aria-controls="taskAnswerDemo") 
                                    span Посмотреть решение
                                     
                            div.collapse#taskAnswerDemo 
                                div.card.p-2.p-lg-3
                                    h5 Решние
                                    p  Тут можно дать pешние 

                    div.py-4 
                        button.btn.btn-lg.btn-double
                            span Сдать контрольную работу