extends ./includes/tmpl.pug

block main
    include ./includes/lk--menu.pug 

    
    main.lk-main
        div.lk-conetnt
            div.container.py-5 
                h2.mb-4 Список страниц админки ученика
                ol.mb-6 
                    li.mb-2 
                        a(href="lk--dashboard.html") Дашборд ученика -- <small class="badge bg-success">можно брать</small>
                    li.mb-2  
                         a(href="lk--class.html") Класс       
                    li.mb-2  
                        a(href="lk--account.html") Настройки аккаунта  -- <small class="badge bg-success">можно брать</small>
                    li.mb-2  
                        a(href="#img-popup" data-bs-toggle="modal" data-bs-target="#img-popup") Пример попапа с картинкой 

                h2.mb-4 Техничкские страницы
                ol 
                    li.mb-2  
                        a(href="tp--payment.html") Страница оплаты  -- <small class="badge bg-success">можно брать</small>
                    li.mb-2  
                        a(href="tp--404.html") Страница 404  -- <small class="badge bg-success">можно брать</small>      
                    li.mb-2  
                        a(href="tp--loading.html") Загрузка страницы  -- <small class="badge bg-success">можно брать</small>                                            
                    li.mb-2  
                        a(href="tp--login-choice.html") Логин  -- <small class="badge bg-success">можно брать</small>                                            
                    li.mb-2  
                        a(href="tp--registration-choice.html") Регистрация  -- <small class="badge bg-success">можно брать</small>                  
                    li.mb-2  
                        a(href="tp--forget.html") Забыли пароль  -- <small class="badge bg-success">можно брать</small>                  

        include ./includes/lk--footer.pug   
        include ./includes/img-popup.pug  