extends ./includes/tmpl.pug

block main
    include ./includes/lk--menu.pug 

    
    main.lk-main
        include ./includes/lk--header.pug   
        div.lk-conetnt
            div.container 
                div.mb-7
                    small.sup-h1.me-2 Класс 
                    span.badge.bg-success Активный
                    div.mb-2
                        h1.d-inline.mb-0 11A, великие математики 
                    p 
                        span.my-1.me-4 Учитель: Олег Денисович
                        span.my-1.me-4 Дата окончания: 12.04.2022
                        span.d-inline-flex.align-items-center.my-1.me-4(type='button' data-bs-toggle='modal' data-bs-target='#life-info') 
                            span.me-1 Жизни: <b>3</b> 
                            img(src='_Common/BaseMvcLogic/Images/icons/question_mark.svg' alt='' style="margin-top: -2px;")

                ul.nav.nav-tabs(role='tablist')
                    li.nav-item(role='presentation')
                        button#studies-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#studies-tab-pane' type='button' role='tab' aria-controls='studies-tab-pane' aria-selected='true') Программа
                    li.nav-item(role='presentation')
                        button#tests-tab.nav-link(data-bs-toggle='tab' data-bs-target='#tests-tab-pane' type='button' role='tab' aria-controls='tests-tab-pane' aria-selected='true') Контрольные
                    li.nav-item(role='presentation')
                        button#simulator-tab.nav-link(data-bs-toggle='tab' data-bs-target='#simulator-tab-pane' type='button' role='tab' aria-controls='simulator-tab-pane' aria-selected='false') Тренажёр
                    li.nav-item(role='presentation')
                        button#chat-tab.nav-link(data-bs-toggle='tab' data-bs-target='#chat-tab-pane' type='button' role='tab' aria-controls='chat-tab-pane' aria-selected='false') Чат с учителем 
                            small.badge.rounded-pill.bg-info 2   
                    li.nav-item(role='presentation')
                        button#exercisess-tab.nav-link(data-bs-toggle='tab' data-bs-target='#exercisess-tab-pane' type='button' role='tab' aria-controls='students-tab-pane' aria-selected='false') Рейтинг класса

                div.tab-content
                    // программа 
                    #studies-tab-pane.tab-pane.fade.show.active.pt-3(role='tabpanel' aria-labelledby='studies-tab' tabindex='0')
                        button.btn.btn-sm.btn-secondary Продожить заниматься c последней темы
                        div.custom-table.mt-4
                            div.bg-1.p-3
                                h5.mb-0 Модуль 1. Название модуля
                            div.table-row.with-hover(type='button' data-bs-toggle="modal" data-bs-target="#studies-tasks")
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>1
                                    div.mb-2.mb-lg-3.col-lg-7 Простейшие текстовые задачи (округление и&nbsp;величины)
                                    div.mb-2.col-5.col-lg-2 
                                        div до 12.23.2022
                                    div.mb-3.col-7.col-lg  
                                        span.badge.text-bg-light.me-2 Завершено 
                                        span.badge.text-bg-light Баллы: 10

                            div.table-row.with-hover(type='button' data-bs-toggle="modal" data-bs-target="#studies-tasks")
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>2
                                    div.mb-2.mb-lg-3.col-lg-7 Простейшие текстовые задачи (округление и&nbsp;величины)
                                    div.mb-2.col-5.col-lg-2 
                                        div до 12.23.2022
                                    div.mb-3.col-4.col-lg  
                                        div.badge.text-bg-warning Работа над ошибками
                        div.custom-table.mt-4
                            div.bg-2.p-3
                                h5.mb-0 Модуль 2. Название модуля
                            div.table-row.with-hover(type='button' data-bs-toggle="modal" data-bs-target="#studies-tasks")
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>1
                                    div.mb-2.mb-lg-3.col-lg-7 Простейшие текстовые задачи (округление и&nbsp;величины)
                                    div.mb-2.col-5.col-lg-2 
                                        div до 12.23.2022
                                    div.mb-3.col-4.col-lg  
                                        div.badge.text-bg-success В работе
                            div.table-row.text-muted
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>2
                                    div.mb-2.mb-lg-3.col-lg-7 Простейшие текстовые задачи (округление и&nbsp;величины)
                                    div.mb-2.col-5.col-lg-2 
                                        div до 12.23.2022
                                    div.mb-3.col-4.col-lg &nbsp;
                                                          
                        div.custom-table.mt-4
                            div.bg-3.p-3
                                h5.mb-0 Модуль 3. Название модуля
                            div.table-row.text-muted
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>1
                                    div.mb-2.mb-lg-3.col-lg-7 Определение и свойства степени с натуральными, целыми, рациональными и иррациональными показателями. Базовый уровень
                                    div.mb-2.col-5.col-lg-2 
                                        div до 12.23.2022
                                    div.mb-3.col-4.col-lg &nbsp;
                            div.table-row.text-muted
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>2
                                    div.mb-2.mb-lg-3.col-lg-7 Определение и свойства степени с натуральными, целыми, рациональными и иррациональными показателями. Базовый уровень
                                    div.mb-2.col-5.col-lg-2 
                                        div до 12.23.2022
                                    div.mb-3.col-4.col-lg &nbsp;                                        
                            div.table-row.text-muted
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>3
                                    div.mb-2.mb-lg-3.col-lg-7 Простейшие текстовые задачи (округление и&nbsp;величины)
                                    div.mb-2.col-5.col-lg-2 
                                        div до 12.23.2022
                                    div.mb-3.col-4.col-lg &nbsp;
                                                             
                        div.custom-table.mt-4
                            div.bg-4.p-3
                                h5.mb-0 Модуль 4. Название модуля
                            div.table-row.text-muted
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>1
                                    div.mb-2.mb-lg-3.col-lg-7 Простейшие текстовые задачи (округление и&nbsp;величины)
                                    div.mb-2.col-5.col-lg-2 
                                        div до 12.23.2022
                                    div.mb-3.col-4.col-lg &nbsp;
                                        
                            div.table-row.text-muted
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>2
                                    div.mb-2.mb-lg-3.col-lg-7 Простейшие текстовые задачи (округление и&nbsp;величины)
                                    div.mb-2.col-5.col-lg-2 
                                        div до 12.23.2022
                                    div.mb-3.col-4.col-lg &nbsp;

                    // контрольные 
                    #tests-tab-pane.tab-pane.fade.pt-4(role='tabpanel' aria-labelledby='tests-tab' tabindex='0')
                        div.custom-table
                            div.table-row
                                div.row.pt-3  
                                    div.col-lg-5.pb-3 
                                        b Название кнонтрольной какое-то такое вот
                                        div 
                                            small.text-muted.me-2 12.12.2022 11:00 
                                            span.badge.bg-success Решено   
                                    div.col-lg-5.pb-3 
                                        div.row  
                                            div.col-auto
                                                div.d-flex.align-items-center
                                                    img(src='_Common/BaseMvcLogic/Images/icons/create.svg' alt='').me-2
                                                    b 9/10                  
                                            div.col-auto
                                                div.d-flex.align-items-center
                                                    img(src='_Common/BaseMvcLogic/Images/icons/clock.svg' alt='').me-2
                                                    b за 53 мин.
                                    div.col-lg-2.pb-3  
                                        button.btn.btn-sm.btn-primary.w-100(type='button' data-bs-toggle="modal" data-bs-target="#test-tasks") Посмотреть
                            div.table-row
                                div.row.pt-3  
                                    div.col-lg-5.pb-3 
                                        b Название кнонтрольной какое-то такое вот
                                        div 
                                            small.text-muted.me-2 12.12.2022 11:00 
                                            span.badge.bg-danger Много ошибок  
                                    div.col-lg-5.pb-3
                                        div.row  
                                            div.col-auto
                                                div.d-flex.align-items-center
                                                    img(src='_Common/BaseMvcLogic/Images/icons/create.svg' alt='').me-2
                                                    b 2/10                                  
                                            div.col-auto
                                                div.d-flex.align-items-center
                                                    img(src='_Common/BaseMvcLogic/Images/icons/clock.svg' alt='').me-2
                                                    b за 40 мин.
                                    div.col-lg-2.pb-3 
                                        button.btn.btn-sm.btn-primary.w-100(type='button' data-bs-toggle="modal" data-bs-target="#test-tasks") Посмотреть                  
                            div.table-row
                                div.row.pt-3  
                                    div.col-lg-5.pb-3 
                                        b Название кнонтрольной какое-то такое вот
                                        div 
                                            small.text-muted.me-2 12.12.2022 11:00   
                                    div.col-lg-5.pb-3
                                        div.row  
                                            div.col-auto
                                                div.d-flex.align-items-center
                                                    img(src='_Common/BaseMvcLogic/Images/icons/create.svg' alt='').me-2
                                                    b 10                                                                          
                                            div.col-auto
                                                div.d-flex.align-items-center
                                                    img(src='_Common/BaseMvcLogic/Images/icons/clock.svg' alt='').me-2
                                                    b 60 мин.
                                            div.col-auto
                                                div.d-flex.align-items-center
                                                    img(src='_Common/BaseMvcLogic/Images/icons/date.svg' alt='').me-2
                                                    b до 02.09.2022
                                    div.col-lg-2.pb-3 
                                        button.btn.btn-sm.btn-secondary.w-100(type='button' data-bs-toggle="modal" data-bs-target="#test-tasks") Начать 

                    // тренажёр
                    #simulator-tab-pane.tab-pane.fade.pt-4(role='tabpanel' aria-labelledby='simulator-tab' tabindex='0')
                        h4 Дополнительные задачи
                        p.mb-2 Решай задачи, чтобы закрепить темы и получить дополнительные жизни.
                        p 
                            span.me-3 Всего  <span class="d-lg-none">Решено:</span> <b>0/0</b>  
                            span.me-3 До новой жизни осталось: <b>20</b>
                        
                        div.custom-table.mt-4
                            div.table-header.d-none.d-lg-block 
                                div.row.pt-2                                      
                                    div.mb-2.col-12.col-lg-1.col-num #
                                    div.mb-2.col-lg-8 Тема
                                    div.mb-2.col-4.col-lg  Решено задач
                            div.table-row.with-hover(type='button' data-bs-toggle="modal" data-bs-target="#exercises")
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>1
                                    div.mb-2.col-lg-8 Простейшие текстовые задачи (округление и&nbsp;величины)
                                    div.mb-3.col-4.col-lg  <span class="d-lg-none">Решено:</span> 0
                            div.table-row.with-hover(type='button' data-bs-toggle="modal" data-bs-target="#exercises")
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>2
                                    div.mb-2.col-lg-8 Размеры и единицы измерения
                                    div.mb-3.col-4.col-lg  <span class="d-lg-none">Решено:</span> 0
                            div.table-row.with-hover(type='button' data-bs-toggle="modal" data-bs-target="#exercises")
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>3
                                    div.mb-2.col-lg-8 Чтение графиков и диаграмм
                                    div.mb-3.col-4.col-lg  <span class="d-lg-none">Решено:</span> 0
                            div.table-row.with-hover(type='button' data-bs-toggle="modal" data-bs-target="#exercises")
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>4
                                    div.mb-2.col-lg-8 Действия с формулами
                                    div.mb-3.col-4.col-lg  <span class="d-lg-none">Решено:</span> 0
                            div.table-row.with-hover(type='button' data-bs-toggle="modal" data-bs-target="#exercises")
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>5
                                    div.mb-2.col-lg-8 Теория вероятностей
                                    div.mb-3.col-4.col-lg  <span class="d-lg-none">Решено:</span> 0
                            div.table-row.with-hover(type='button' data-bs-toggle="modal" data-bs-target="#exercises")
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>6
                                    div.mb-2.col-lg-8 Выбор оптимального варианта
                                    div.mb-3.col-4.col-lg  <span class="d-lg-none">Решено:</span> 0
                            div.table-row.with-hover(type='button' data-bs-toggle="modal" data-bs-target="#exercises")
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>7
                                    div.mb-2.col-lg-8 Анализ графиков и диаграмм
                                    div.mb-3.col-4.col-lg  <span class="d-lg-none">Решено:</span> 0
                            div.table-row.with-hover(type='button' data-bs-toggle="modal" data-bs-target="#exercises")
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>8
                                    div.mb-2.col-lg-8 Анализ утверждений
                                    div.mb-3.col-4.col-lg  <span class="d-lg-none">Решено:</span> 0
                            div.table-row.with-hover(type='button' data-bs-toggle="modal" data-bs-target="#exercises")
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>9
                                    div.mb-2.col-lg-8 Задачи на квадратной решетке
                                    div.mb-3.col-4.col-lg  <span class="d-lg-none">Решено:</span> 0
                            div.table-row.with-hover(type='button' data-bs-toggle="modal" data-bs-target="#exercises")
                                div.row.pt-3                                        
                                    div.mb-2.col-12.col-lg-1.col-num 
                                        b <span class="d-lg-none">#</span>10
                                    div.mb-2.col-lg-8 Прикладная геометрия
                                    div.mb-3.col-4.col-lg  <span class="d-lg-none">Решено:</span> 0

                    // Сообщения учителю
                    #chat-tab-pane.tab-pane.fade.pt-4(role='tabpanel' aria-labelledby='chat-tab' tabindex='0')
                        div.row 
                            div.col-lg-5.pe-lg-6
                                div.cb-message-form.p-3
                                    div.form-group.pt-lg-2 
                                        label.label Текст сообщения
                                        textarea.form-control(rows="3", placeholder="Текст сообщения") 
                                    div.form-group.mb-0 
                                        input#formFile.form-control(type='file')
                                        div.form-text Не более 20 MB

                                    div.files-list.mt-2
                                        div.row.gx-2.align-items-center
                                            div.col.text-truncate 
                                                span some-file.pdf
                                            div.col-auto 
                                                button.btn.btn-sm.btn-icon.btn-del.border-0.h-auto.p-1(type='button' data-bs-toggle="modal" data-bs-target="#exercises-delete")
                                                    img(src="_Common/BaseMvcLogic/Images/icons/off.svg", alt="") 
                                        div.row.gx-2.align-items-center
                                            div.col.text-truncate 
                                                span some-file-with-very-very-very-very-very-long-name.pdf
                                            div.col-auto 
                                                button.btn.btn-sm.btn-icon.btn-del.border-0.h-auto.p-1(type='button' data-bs-toggle="modal" data-bs-target="#exercises-delete")
                                                    img(src="_Common/BaseMvcLogic/Images/icons/off.svg", alt="")

                                    button.btn.btn-primary.mt-3 Отправить   
                            div.col-lg-7
                                div.lk-chat.mt-5.mt-lg-0
                                    div.chat-history
                                        ul.m-b-0
                                            li.clearfix
                                                div.message-data.text-end
                                                    span.message-data-time 11:50, Сегодня 
                                                div.message.float-end
                                                    p Задача решена верно, но обрати внимание на запись. В приложении правки по форме записи.
                                                    div.message-files
                                                        | Файлы: 
                                                        a.link(href='#') 345.png

                                            li.clearfix
                                                div.message-data
                                                    small.badge.bg-secondary.me-2 Для всего класса 
                                                    span.message-data-time 10:10, 29.08.2022
                                                div.message
                                                    p Добрый день. Отправляю файлы на проверку.
                                                    div.message-files
                                                        | Файлы: 
                                                        a.link(href='#') 345.png

                                            li.clearfix
                                                div.message-data
                                                    span.message-data-time 10:10, 29.08.2022
                                                div.message
                                                    p Добрый день. Отправляю файлы на проверку.
                                                    div.message-files
                                                        | Файлы: 
                                                        a.link(href='#') 345.png
                                                                                                                
                                            li.clearfix
                                                div.message-data.text-end
                                                    span.message-data-time 11:50, Сегодня 
                                                div.message.float-end
                                                    p Задача решена верно, но обрати внимание на запись. В приложении правки по форме записи.


                                            li.clearfix
                                                div.message-data
                                                    small.badge.bg-info.me-2 Учитель 
                                                    span.message-data-time 10:10, 29.08.2022
                                                div.message
                                                    p Добрый день. Отправляю файлы на проверку.



                                div.text-center 
                                    button.btn.btn-sm.btn-secondary Показать предыдущие сообщения
                    // Ученики
                    #exercisess-tab-pane.tab-pane.fade.pt-4(role='tabpanel' aria-labelledby='students-tab' tabindex='0')
                        p Рейтинг учеников на <b>12.09.2022</b>
                        div.custom-table.lk-student-list
                            div.table-header.d-none.d-lg-block 
                                div.row.pt-2
                                    div.mb-2.col-12.col-lg-1 Место
                                    div.mb-2.col-12.col-lg-4 Имя
                                    div.mb-2.col-12.col-lg-2 Жизни
                                    div.mb-2.col-12.col-lg Баллы

                            div.table-row
                                div.row.pt-3                                        
                                    div.mb-2.mb-lg-3.col-12.col-lg-1 
                                        | <span class="d-lg-none">Место:</span> 1
                                    div.mb-1.mb-lg-3.col-12.col-lg-4 Antuan Georg Leopold 
                                    div.mb-2.col-4.col-lg-2 <span class="d-lg-none text-muted">Жизни:</span> 3
                                    div.mb-3.col-4.col-lg <span class="d-lg-none text-muted">Баллы:</span> 12
                            
                            div.table-row
                                div.row.pt-3                                        
                                    div.mb-2.mb-lg-3.col-12.col-lg-1 
                                        b <span class="d-lg-none">Место:</span> 2
                                    div.mb-1.mb-lg-3.col-12.col-lg-4
                                        b Antuan Georg Leopold 
                                    div.mb-2.col-4.col-lg-2 <span class="d-lg-none text-muted">Жизни:</span> 3
                                    div.mb-3.col-4.col-lg <span class="d-lg-none text-muted">Баллы:</span> 10
        
        include ./includes/lk--footer.pug

        include ./includes/life-info--modal.pug 
        include ./includes/exercises--modal.pug 
        include ./includes/studies--modal.pug
        include ./includes/test--modal.pug 
        include ./includes/error--modal.pug 