extends ./includes/tmpl.pug

block main
    include ./includes/lk--menu.pug 

    
    main.lk-main
        include ./includes/lk--header.pug   
        div.lk-conetnt
            div.container 
                h2 Загружаем страницу&nbsp;
                    span.loading-dots
                        span .
                        span .
                        span .


        include ./includes/lk--footer.pug   